<li class="nav-item">
	<form class="{{class}}-form">
		<label class="search-input-label" for="{{class}}">
			<div class="search-label-logo"></div>
		</label>
		<input
			class="{{class}}-input inherit"
			type="text"
			placeholder="{{value}}"
		/>
		<input
			class="{{class}}-btn btn inherit"
			type="submit"
			value="{{value}}"
		/>
	</form>
</li>