<div class="nav-bar">
  <div class="logo">
    <a class="text-deco-none" href="/">
      <h1>Mongo Scraper</h1>
    </a>
  </div>
  <ul class="nav-items">
    {{> nav-link/nav-link class="search" value="Search"}}
    {{> input-search-scrape/input-search-scrape class="scrape" value="Scrape"}}
  </ul>
  <div class="nav-btn-group">
    <button class="clear-items action-btn inherit">CLEAR ITEMS</button>
  </div>
</div>
{{> wallpaper/wallpaper title="SAVED ITEMS" description="BEST BUY EDITION"}}
<div class="items-container">
  {{#each items}}
    {{#if noItem}}
    <div class="no-item-container"></div>
    <h1>No Item</h1>
    <a href="/" class="">Go To Home</a>
    {{> input-search-scrape/input-search-scrape class="scrape" value="Scrape"}}
    {{/if}}
    {{#unless noItem}}
      <div class="item-wrapper">
        <div class="item-image-container" style="background-image: url('{{this.imageUrl}}');"></div>
        <div class="item-details">
          <div class="title-price">
            <a
              href="{{this.link}}"
              class="item-link"
            >
              <h3 class="item-title">
                {{this.title}}
              </h3>
            </a>
            <p class="item-price">$ {{this.price}}</p>
          </div>
          <a
            href="{{this.link}}"
            class="see-details-btn btn text-deco-none"
            target="_blank"
          >
            See Details
          </a>
        </div>
        <div class="btn-groups">
          <button class="delete-from-save-btn btn inherit" data-id="{{this.id}}">Delete From Saved</button>    
          <button class="add-review-btn btn inherit" data-id="{{this.id}}">Add review</button>
        </div>
      </div>
    {{/unless}}
  {{/each}}
</div>
<div class="reviews-container" style="display: none;">
</div>
